<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Derive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
</head>
<body class="home-body">
    <ul>
        <li><a class='grow menu-text' href="#">home</a></li>
        <li><a class='grow menu-text' href="first_band">{{band_names[0]}}</a></li>
        <li><a class='grow menu-text' href="second_band.html">{{band_names[1]}}</a></li>
        <li><a class='grow menu-text' href="third_band">{{band_names[2]}}</a></li>
        <li><a class='grow menu-text' href="fourth_band">{{band_names[3]}}</a></li>
        <li><a class='grow menu-text' href="fifth_band">{{band_names[4]}}</a></li>
    </ul>
</body>
</html>